@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline|Pacifico';
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
@import 'https://fonts.googleapis.com/css?family=Monofett|Rubik+One';
@import 'https://fonts.googleapis.com/css?family=Orbitron';
@import 'https://fonts.googleapis.com/css?family=Nova+Cut';
@import 'https://fonts.googleapis.com/css?family=Aclonica';
.over{
  text-align: center;
  background-image: url(http://hdqwalls.com/download/overwatch-logo-hd-pic-2048x1152.jpg);
}
.index{
text-align: center;
background-image: url(http://dragonsandwhimsy.com/wp-content/uploads/2014/11/blizzard-entertainment-world-of-warcraft-2510240-1550x923.jpg);
}
h1{
  font-family: 'Fascinate Inline', cursive;
  margin: 20px;
font-size: 50px;
text-align: center;
background-color: lightblue;
border: 3.5px solid darkblue;

}
.h{
  text-align: center;
}
.i{
  border: 3.5px solid black;
}
.diablo{
font-family: 'Rubik One', cursive;
  text-align: center;
  border: 3.5px solid black;
  background-color: #BCBCBC;
}
.wow{

font-family: 'Nova Cut', cursive;
  text-align: center;
  border: 3.5px solid darkred;
  padding: 20px;
  background-color: pink;
}
.o{
font-family: 'Orbitron', cursive;
  text-align: center;
  background-color: #FFCC66;
  border: 4px solid #C96F00;
  padding: 20px;
}
.depression{
display: inline;
  color: green;
  font-family: 'Baloo Tamma';
  background-color: lightgreen;
  border: 3.5px solid darkgreen;
  padding: 10px;
  font-size: 20px;
width: 100px;
}
.indeximage{
  border: 4px solid black;
  display: inline;
margin: 20px;
  width: 490px;
  height: 350px;
}
.indexh2{
font-family:'Pacifico', cursive;
background-color: pink;
color: red;
border:  solid darkred;
text-align: center;
}
.indexp{
font-family: 'Aclonica', cursive;
  text-align: center;
  color: white;
  font-size: 20px;
}
