@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline|Pacifico';
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';

.index{
text-align: center;
  background-image: url(http://dragonsandwhimsy.com/wp-content/uploads/2014/11/blizzard-entertainment-world-of-warcraft-2510240-1550x923.jpg);
}
h1{
  font-family: 'Fascinate Inline', cursive;
  margin: 20px;
font-size: 50px;
text-align: center;
background-color: lightblue;
border: 3.5px solid darkblue;

}
.h{
  text-align: center;
}
.i{
  border: 3.5px solid black;
}
.ff{
  text-align: center;
  color: red;
  border: 3.5px solid darkred;
  padding: 10px;
  font-size: 20px;
  font-family: 'Baloo Tamma';
  background-color: pink;
}
.o{
  text-align: center;
  background-color: #FFCC66;
  color: green;
  border: 4px solid darkgreen;
  padding: 20px;
}
.depression{
display: inline;
  color: green;
  font-family: 'Baloo Tamma';
  background-color: lightgreen;
  border: 3.5px solid darkgreen;
  padding: 10px;
  font-size: 20px;
width: 100px;
}
.indeximage{
  border: 4px solid black;
  display: inline;
margin: 20px;
  width: 490px;
  height: 350px;
}
.indexh2{
font-family:'Pacifico', cursive;
background-color: pink;
color: red;
border:  solid darkred;
text-align: center;
}
.indexp{
  text-align: center;
  color: white;
  font-size: 20px;
}
